.rightJustify {
  margin-right: 150px;
}

li {
  display: inline-block;
  width: 50%;
  list-style-type:none;
  padding:0;
  margin: 0;
}

li:nth-child(1),
li:nth-child(2){
  width: calc(50%-50px);
}
